extends layout


block content
    main.container(role='main')
        .starter
            h1=info.name
            p.lead
                | #{info.description}
                br
                | #{info.version}


        .row.mb-3
            .col-md-3.themed-grid-col
            .col-md-6.themed-grid-col.text-left
                h4 1. Edit ~/.upmconfig.toml
                ul

                    li Create a
                        |
                        a(href='https://docs.unity3d.com/Manual/upm-config-scoped.html')  upmconfig.toml
                        |  file in your user folder with the following contents:
                    pre.code.text-left.bg-light.text-secondary.p-3
                        | [npmAuth."#{site.host}#{site.scope}"]
                        | token = "
                        span.font-weight-bold.text-danger GITHUB_PERSONAL_ACCESS_TOKEN"
                        |
                        | alwaysAuth = true

                    li Generate a new 
                        |
                        a(href='https://github.com/settings/tokens/new?description=PaladinUPM&scopes=read:packages')  Github Personal Access token
                        |  (PAT). 
                    li Copy the token and replace the 
                        span.code.font-weight-bold.text-danger GITHUB_PERSONAL_ACCESS_TOKEN 
                        |  within the upmconfig.toml file
                br
                h4 2. Unity configuration
                ul
                    li Within Unity go to
                        span.font-weight-bold  Edit > Project Settings
                    li Then open
                        span.font-weight-bold  Package Manager > Scoped Registries
                    li Use the following configuration. Change the scope naming convention of that used in your package names.
                pre.code.text-left.bg-light.text-secondary.p-3
                    | Name: GithubUPM
                    | URL: #{site.host}#{site.scope}
                    | Scope(s):
                    if site.packageScope
                        span  #{site.packageScope}
                    else
                        span.font-weight-bold.text-danger  com.myorganization.etc
            .col-md-3.themed-grid-col
